@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.animate-enter {
  animation: enter 0.25s ease-out;
}

.animate-leave {
  animation: leave 0.2s ease-in forwards;
}

.invisible-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge, Opera */
}
