@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.animate-enter {
  animation: enter 0.25s ease-out;
}

.animate-leave {
  animation: leave 0.2s ease-in forwards;
}

.invisible-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.dark .skeleton {
  background: linear-gradient(90deg, #1f2937 25%, #374151 50%, #1f2937 75%);
  background-size: 200% 100%;
}
