/* From Uiverse.io by SangeethSujith */
.custom-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.custom-loader-container.full-screen {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  width: 100vw;
  height: 100vh;
}

.custom-loader-container.full-size {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.spinner {
  width: 60px;
  height: 60px;
  --clr: #0070f3;
  --clr-alpha: rgba(0, 112, 243, 0.1);
  --clr-border: rgba(0, 112, 243, 0.4);
  animation: spinner 2s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 1.5px solid var(--clr-border);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: inset 0 0 15px rgba(0, 112, 243, 0.1);
  border-radius: 4px;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-30px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(30px);
}

@keyframes spinner {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    --clr-border: rgba(0, 112, 243, 0.8);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}
