# Server Configuration
PORT=3000

# Logging
LOG_LEVEL=info

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-gmail-app-password
SMTP_FROM=your-email@gmail.com

# Inngest Configuration (Optional)
# If you want to secure communication between API and Inngest service
INNGEST_EVENT_KEY='wfObvkjHtesq+h+rJTf1AzC+pO+zm8QA1hvOtbTAkxQ='

# Inngest Cloud (Optional - for production)
# INNGEST_SIGNING_KEY=your-signing-key
# INNGEST_EVENT_KEY=your-event-key
