# Server Configuration
PORT=3000

# Logging
LOG_LEVEL=info

# Inngest Configuration (Optional)
# If you want to secure communication between API and Inngest service
INNGEST_EVENT_KEY='wfObvkjHtesq+h+rJTf1AzC+pO+zm8QA1hvOtbTAkxQ='

# Inngest Cloud (Optional - for production)
# INNGEST_SIGNING_KEY=your-signing-key
# INNGEST_EVENT_KEY=your-event-key
